/* --white: #ffffffff;
--rich-black: #00171fff;
--prussian-blue: #003459ff;
--cerulean: #007ea7ff;
--picton-blue: #00a8e8ff; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* min-height: 100vh; */
}

body{
    background-color: rgb(7, 7, 7);
}
.header{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: fixed;
    overflow: hidden;
    z-index: 999;
    background-color: rgba(33, 33, 33, 0.534);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}
@font-face {
    font-family: akira;
    src: url(./Akira\ Expanded\ Demo.otf);
}
header h1 {
    margin: 0;
    font-size: 2rem;
    font-family: akira;
    letter-spacing: 0.1rem;
    color: white;
}
nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
    z-index: 999;
}

nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
}

nav a:hover{
    color: rgb(176, 176, 176);
}

.btn{
    background-color: rgb(21, 21, 21);
    /* width: 6rem; */
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    transition: background-color 0.2s ease;
    cursor: pointer;
    font-weight: 400;
}

.btn:hover{
    background-color: black;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.drone_text{
    color: white;
    position: absolute;
    font-size: 9vi;
    font-family: akira;
    z-index: -999;
    padding-top: 1vh;
}
.stext {
    color: rgba(255, 255, 255, 0);
    position: absolute;
    text-shadow: 1px 2px rgba(255, 255, 255, 0.381);
    font-size: 9vi;
    font-family: akira;
    /* z-index: 999; */
    padding-top: 1vh;
}
.drone{
    position: relative;
    z-index: 0;
    animation: up-down 3s ease-in-out infinite;
}
@keyframes up-down {
    0% {
        top: 0;
        /* Starting position */
    }

    50% {
        top: -20px;
        /* Moves up 20px */
    }

    100% {
        top: 0;
        /* Returns to starting position */
    }
}
.para{
    color: aliceblue;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}
.para_{
    font-size: 1.5rem;
    /* margin-left: 5rem; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lower{
    width: 100%;
    height: 6rem;
    background-color: rgb(0, 147, 196);
    display: flex;
    overflow-x: auto;
    gap: 10rem;
}
.lower::-webkit-scrollbar{
    display: none;
}
.group{
    display: flex;
    gap: 12rem;
    justify-content: center;
    align-items: center;
    animation: spin 10s infinite linear;
}

.slide{
    color: rgb(0, 0, 0);
    width: 50rem;
    flex: 0 0 30rem;
    font-size: 2.5rem;
    font-family: akira;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.about {
    color: aliceblue;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    height: 50vh;
    padding-top: 2rem;
    margin-left: 2rem;
}
.head {
    color: white;
    /* position: absolute; */
    font-size: 3rem;
    font-family: akira;
    z-index: -999;
    padding-top: 1vh;
    gap: 5rem;
}
.icon{
    width: 4rem;
    /* height: 4rem; */
    /* position: relative; */
    padding-left: 6rem;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
}
.icon_drone{
    position: relative;
}
.card {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background: #000000;
    flex: 0 0 30rem;
    box-shadow: 15px 15px 30px #202526,
        -15px -15px 30px #000000;
}

.project{
    color: aliceblue;
        /* position: relative; */
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 2rem;
        width: 100%;
        /* height: 50vh; */
        /* padding-top: 2rem; */
        /* margin-left: 2rem; */
    
    
}
